Django==4.1.7
djangorestframework==3.14.0
django-cors-headers==3.14.0

django-environ==0.10.0

django-ckeditor==6.5.1

django-storages==1.13.2
Pillow==9.4.0

psycopg2==2.9.5

argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0

asgiref==3.6.0
cffi==1.15.1
django-js-asset==2.0.0
pycparser==2.21
pytz==2023.2
sqlparse==0.4.3
unicorn==2.0.1.post1
whitenoise==6.4.0
